*.png
*.jpg
*.bmp
*.jpeg
*.gif
*.pth
*.pt
*.pyc
*.onnx
*.safetensors
*.bin
__pycache__/
arc2face/__pycache__/
output/
output_/
sd-model-finetuned-lora/
assets/examples2/
assets/examples/
!assets/cond_img.bmp
!assets/controlnet.jpg
!assets/samples.jpg
!assets/teaser.gif
external/
lora_models/*/
models/*/


